{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <div class="row">
            <h1>Zen of Python Puzzles</h1>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <h3> LOGO here </h3>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <h3 style="font-weight: bold;"> What is this? </h3>
            <p>We are here to provide users with a site to help REINFORCE Basics to Advanced Logic, Problem-Solving, and most importantly PYTHON.  Try your hand at our problems based on the 'ZEN OF PYTHON'.  Each line has a question related to the theme of that specific line.    <br><br>Ready to begin??? </p>
        </div>
    </div>
    <br>
    <br>
    <div class="container">
       
    {% comment %} {% if user %}
    <h1> {{ user.username }}
    {% endif %} {% endcomment %}
    <h1 style="margin: 50px 0 10px;"><a href="accounts/login">Login</a></h1>


        <small style="margin: 0 0 20px;">New here? <a href="{% url 'new_user' %}" class="card-link">Sign Up</a></small>
            </div>
            </div>
    </div>
    <br>
    <br>
    <br>


{% endblock content %}