{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="container">
    <br>
    <br>
        <div class="row" style="margin: 5em 10em 0em 25em;">
            <h1 style="font-weight: bold;">Zen of Python Puzzles</h1>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row" style="margin: 0 0 3em 10em;">
            <img src="{% static 'assets/puzzles.jpeg' %}" alt="Logo" style="width: 55em; height: 45em;">
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row" style="margin: 0 2em 5em 10em;">
            <h3 style="font-weight: bold;"> What is the Zen of Python Puzzle? </h3>
            <p style="margin: 1em 1em 1em 0;">We are here to provide users with a site to help REINFORCE Basics to Advanced Logic, Problem-Solving, and most importantly PYTHON.  Try your hand at our problems based on the 'ZEN OF PYTHON'.  Each line has a question related to the theme of that specific line.</p>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <h3 style="margin: 0 6em 3em;">Ready to Begin? <a href="accounts/login">Login</a></h3>
            <h3 style="margin: 0 3em;">New here? <a href="{% url 'new_user' %}" class="card-link">Sign Up</a></h3>
        </div>
    </div>
    <br>
    <br>
    <br>


{% endblock content %}