{% extends 'base.html' %}

{% block content %}

    <div class="container">
    <br>
    <br>
    <br>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            {% for i in registration_form %}
                <p>
                    {{ i.label_tag}}
                    {{ i }}

                    {% if i.help_text %}
                        <small style="color: gray;">{{ i.help_text }}</small>
                    {% endif %}

                    {% for error in i.errors %}
                        <p style="color: red;">{{ error }}</p>
                    {% endfor %}
                </p>
            {% endfor %}
            <button info="submit">Register</button>
        </form>
        <br>
        <br>
        <br>
    </div>

{% endblock content %}