{% extends 'base.html' %}

{% block content %}

    <div class="container">
    <br>
    <br>
    <br>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            {% for i in registration_form %}
                <p>
                    {{ i.label_tag}}
                    {{ i }}
{% comment %} 
                    <form action="{% url upload_pic %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <p>
                            <input id="id_image" type="file" class="" name="image">
                        </p>
                        <input type="submit" value="submit"/>
                    </form> {% endcomment %}

                    {% if i.help_text %}
                        <small style="color: gray;">{{ i.help_text }}</small>
                    {% endif %}

                    {% for error in i.errors %}
                        <p style="color: red;">{{ error }}</p>
                    {% endfor %}
                </p>
            {% endfor %}
            <button info="submit">Register</button>
        </form>
        <br>
        <br>
        <br>
    </div>

{% endblock content %}