{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div id="contact-container">
        <div id="qsubmit-table">

            <h2 class="table_heading" style="text-align: center">Have a puzzle you'd like to share?</h2>

            <br>
            <br>

            <form action="{% url 'submit_q' %}" method="POST">
                {% csrf_token %}
                <label for="question">Tell Us Your Puzzle!<label>
                <br>
                <textarea name="submit_puzzle" id="submit_puzzle" cols="30" rows="10">Type question here.</textarea>
                <input type="submit">
            </form>   
        </div>
    </div>
{% endblock content %}