{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div id="contact-container">
        <div id="qsubmit-table">
            <br>
            <br>
            <br>
            <h1 class="table_heading" style="text-align: center; font-weight: bold;">Have a puzzle you'd like to share?</h1>

            <form action="{% url 'submit_q' %}" method="POST" id="user-question" style="text-align: center;">
                {% csrf_token %}
                <input name="title" type="text" placeholder="Put a title here" required style="margin: 1em 41.5em 0;">
                <textarea name="question" id="question" cols="30" rows="10" placeholder="Type your question here" style="margin: 2em 40em 0em;"></textarea>
                <input type="submit" style="margin: 0 45em 5em;">
            </form>   
        </div>
        <div>
            <div class="container" id="q-body">
                <div class="row">
                    <div class="col-6" id="other-sq">
                        <h3 style="text-align: center;">Other User's Submitted Questions</h3>
                        {% if all_questions %}
                            {% for i in all_questions %}

                                <div class="card sq-body">
                                    <div class="card-body">
                                        <p>{{ i.member }}</p>
                                        <p>{{ i.title }}</p>
                                        <p>{{ i.question }}</p>
                                    </div>
                                </div>

                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="col-6">
                        <h3 style="text-align: center;">My Submitted Questions</h3>
                        {% if my_questions %}
                            {% for i in my_questions %}

                                <div class="card sq-body">
                                    <div class="card-body">
                                        <p>{{ i.member }}</p>
                                        <p>{{ i.title }}</p>
                                        <p>{{ i.question }}</p>
                                    </div>
                                </div>

                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock content %}