#footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    padding: .10%;
    background-color: black;
    text-align: center;
    color: white !important;
    font-size: small;
    z-index: auto;
}

.my_navbar {
    position: fixed;
    width: 100vw;
    padding: .10%;
    background-color: black;
    text-align: center;
    color: white !important;
    font-size: small;
    z-index: auto;
}

nav {
    background-image: linear-gradient(90deg, #1a8cff 25%, #ffff80 75%)!important;
    display: inline-block;
    text-align: center;
}

#user_info {
    background-color: rgba(0, 0, 0, 0.1) !important;
}

#list_group {
    background-color: rgba(0, 0, 0, 0.0);
    border: 0px;
    margin-bottom: 0px;
}
