#footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    padding: .10%;
    background-color: black;
    text-align: center;
    color: white !important;
    font-size: small;
    z-index: auto;
}

.my_navbar {
    position: fixed;
    width: 100vw;
    padding: .10%;
    background-color: black;
    text-align: center;
    color: white !important;
    font-size: small;
    z-index: auto;
}

.nav-item {
    color: white !important;
}