#my_navbar {
    position: fixed;
    width: 100vw;
    padding: .10%;
    background-color: black;
    text-align: center;
    font-size: small;
    z-index: 100;
}

nav {
    background-image: linear-gradient(90deg, #1a8cff 25%, #ffff80 75%)!important;
    display: inline-block;
    text-align: center;
}

.nav-right{
    padding-right: 5px;
}

#user_info {
    background-color: rgba(0, 0, 0, 0.1) !important;
}

#list_group {
    background-color: rgba(0, 0, 0, 0.0);
    border: 0px;
    margin-bottom: 0px;
}
.progress {
    width: 100vw;
    background-color: linear-gradient(90deg, #ffff80 25%, #1a8cff 75%);
    border: black 1px solid;
}

#welcome_row {
    margin: auto;
    padding: auto;
}

#main-top {
    margin-top: 3%;
    width: 100%;
    max-width: 100%;
}

#cmd_term {
    margin-left: 15%;
    margin-top: 2%;
}

.cmd-terminal {
    margin-left: 4%;
    margin-top: 3%;
}

.cmd_img {
    width: 700px;
    height: 400px;
    margin-bottom: 10%;
}

#user-question {
    margin: 0 auto;
    padding: 0 auto;
}

.sq-body {
    background-color: rgba(0, 0, 0, 0.1) !important;
}

#q-body {
    margin-bottom: 3%;
}