{% extends 'base.html' %}

{% block content %}



    <div class="container">
        <div class="card" style="margin-top:150px">
            <div class="card-header">Question {{ question.id }}</div>
                <div class="card-body">
                    <div class="questionsBox">
                        <div class="questions">{{ question.question }}</div>
                        <form action="{% url 'submitted_answer' %}" method="POST" name="multi_choice">
                        {% csrf_token %}
                            <input type="hidden" name="question" value="{{ question.id }}">
                            <ul class="answerList">
                                <li>
                                    <label><input type="radio" name="answerGroup" value="{{ question.p_answer1 }}" id="answerGroup_0" required> {{ question.p_answer1 }}</label>
                                </li>
                                <li>
                                    <label>
                                        <input type="radio" name="answerGroup" value="{{ question.p_answer2 }}" id="answerGroup_1"> {{ question.p_answer2 }}</label>
                                </li>
                                <li>
                                    <label>
                                        <input type="radio" name="answerGroup" value="{{ question.p_answer3 }}" id="answerGroup_2"> {{ question.p_answer3 }}</label>
                                </li>
                                <li>
                                    <label>
                                        <input type="radio" name="answerGroup" value="{{ question.p_answer4 }}" id="answerGroup_3"> {{ question.p_answer4 }}</label>
                                </li>
                            </ul>
                            <div class="text-center ">
                                <button type="submit" class="btn btn-primary">Submit Answer</button>
                            </div>
                        </form>
                    </div>
                </div>    
            </div>
        </div>
    </div>

{% endblock content %}