{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-12 text-center pt-5">
            {% comment %} remove inline styling {% endcomment %}
                <h1 style="font-weight:bold;font-size:90px">Success!</h1>
                <div >
                    <a href="{% url 'q_home' %}">Try Another</a>
                    <br>
                    <a href="{% url 'profile' %}">Back to Profile</a>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}