{% extends 'base.html' %}
{% load static %}
{% block content %}

<div id="zpython_home-container">
    <h2 style="text-align: center">
        <a href="https://fontmeme.com/starcraft-font/">
        <img src="https://fontmeme.com/permalink/190626/009f1db8cb54f3120f766d69b35d0794.png"
        alt="starcraft-font" border="0">
    </h2>

    <br>
    <br>

    <div id="zen_python" class="container">
        <div class="center_auto form-group w-50">
            <a href="#">Beautiful is better than ugly.</a>
            <br>
            <a href="#">Explicit is better than implicit.</a>
            <br>
            <a href="#">Simple is better than complex.</a>
            <br>
            <a href="#">Complex is better than complicated.</a>
            <br>
            <a href="#">Flat is better than nested.</a>
            <br>
            <a href="#">Sparse is better than dense.</a>
            <br>
            <a href="#">Readability counts.</a>
            <br>
            <a href="#">Special cases aren't special enough to break the rules.</a>
            <br>
            <a href="#">Although practicality beats purity.</a>
            <br>
            <a href="#">Errors should never pass silently.</a>
            <br>
            <a href="#">Unless explicitly silenced.</a>
            <br>
            <a href="#">In the face of ambiguity, refuse the temptation to guess.</a>
            <br>
            <a href="#">There should be one-- and preferably only one-- obvious way to do it.</a>
            <br>
            <a href="#">Although that way may not be obvious at first unless you're Dutch</a>
            <br>
            <a href="#">Now is better than never.</a>
            <br>
            <a href="#">Although never is often better than *right* now.</a>
            <br>
            <a href="#">If the implementation is hard to explain, it's a bad idea.</a>
            <br>
            <a href="#">If the implementation is easy to explain, it may be a good idea.</a>
            <br>
            <a href="#">Namespaces are one honking great idea -- let's do more of those!</a>
    </div>
        
</div>

{% endblock content %}