{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div id="master-container">
        <div class="row">
            <h2 style="text-align: center;">Zen of Python Puzzles</h2>
        </div>
    </div>

    <div id="zpython-container">
        <div class="row">
            <div id="zen_python">
                <div class="q-links">
                    {% if "01" in correct_answers %}
                        <a>Beautiful is better than ugly.</a>
                    {% else %}
                        <a href="{% url 'ind_question' 1 %}">Beautiful is better than ugly.</a>
                    {% endif %}

                    <br>

                    {% if "02" in correct_answers %}
                        <a>Explicit is better than implicit.</a>
                    {% else %}
                        <a href="{% url 'ind_question' 2 %}">Explicit is better than implicit.</a>
                    {% endif %}

                    <br>

                    {% if "03" in correct_answers %}
                        <a>Simple is better than complex.</a>
                    {% else %}
                        <a href="{% url 'ind_question' 3 %}">Simple is better than complex.</a>
                    {% endif %}
                    
                    <br>

                    {% if "04" in correct_answers %}
                        <a>Complex is better than complicated.</a>
                    {% else %}
                        <a href="{% url 'ind_question' 4 %}">Complex is better than complicated.</a>
                    {% endif %}
                       
                    <br>

                    {% if "05" in correct_answers %}
                        <a>Flat is better than nested.</a>
                    {% else %}
                        <a href="{% url 'ind_question' 5 %}">Flat is better than nested.</a>
                    {% endif %}
                        
                    <br>

                    {% if "06" in correct_answers %}
                        <a>Sparse is better than dense.</a>
                    {% else %}
                        <a href="{% url 'ind_question' 6 %}">Sparse is better than dense.</a>
                    {% endif %}
                    
                    <br>

                    {% if "07" in correct_answers %}
                        <a>Readability counts.</a>
                    {% else %}
                        <a href="{% url 'ind_question' 7 %}">Readability counts.</a>
                    {% endif %}
                    
                    <br>

                    {% if "08" in correct_answers %}
                        <a>Special cases aren't special enough to break the rules.</a>
                    {% else %}
                        <a href="{% url 'ind_question' 8 %}">Special cases aren't special enough to break the rules.</a>
                    {% endif %}
                    
                    <br>

                    {% if "09" in correct_answers %}
                        <a>Although practicality beats purity.</a>
                    {% else %}
                        <a href="{% url 'ind_question' 9 %}">Although practicality beats purity.</a>
                    {% endif %}
                    
                    <br>

                    {% if "10" in correct_answers %}
                        <a>Errors should never pass silently.</a>
                    {% else %}
                        <a href="{% url 'ind_question' 10 %}">Errors should never pass silently.</a>
                    {% endif %}
                    
                    <br>

                    {% if "11" in correct_answers %}
                        <a>Unless explicitly silenced.</a>
                    {% else %}
                        <a href="{% url 'ind_question' 11 %}">Unless explicitly silenced.</a>
                    {% endif %}
                        
                    <br>

                    {% if "12" in correct_answers %}
                        <a>In the face of ambiguity, refuse the temptation to guess.</a>
                    {% else %}
                        <a href="{% url 'ind_question' 12 %}">In the face of ambiguity, refuse the temptation to guess.</a>
                    {% endif %}
                    
                    <br>

                    {% if "13" in correct_answers %}
                        <a>There should be one -- and preferably only one -- obvious way to do it.</a>
                    {% else %}
                        <a href="{% url 'ind_question' 13 %}">There should be one -- and preferably only one -- obvious way to do it.</a>
                    {% endif %}
                        
                    <br>

                    {% if "14" in correct_answers %}
                        <a>Although that way may not be obvious at first unless you're Dutch</a>
                    {% else %}
                        <a href="{% url 'ind_question' 14 %}">Although that way may not be obvious at first unless you're Dutch</a>
                    {% endif %}
                    
                    <br>
                    
                    {% if "15" in correct_answers %}
                        <a>Now is better than never.</a>
                    {% else %}
                         <a href="{% url 'ind_question' 15 %}">Now is better than never.</a>
                    {% endif %}
                   
                    <br>

                    {% if "16" in correct_answers %}
                        <a>Although never is often better than *right* now.</a>
                    {% else %}
                        <a href="{% url 'ind_question' 16 %}">Although never is often better than *right* now.</a>
                    {% endif %}
                    
                    <br>

                    {% if "17" in correct_answers %}
                        <a>If the implementation is hard to explain, it's a bad idea.</a>
                    {% else %}
                        <a href="{% url 'ind_question' 17 %}">If the implementation is hard to explain, it's a bad idea.</a>
                    {% endif %}
                    
                    <br>

                    {% if "18" in correct_answers %}
                        <a>If the implementation is easy to explain, it may be a good idea.</a>
                    {% else %}
                        <a href="{% url 'ind_question' 18  %}">If the implementation is easy to explain, it may be a good idea.</a>
                    {% endif %}
                    
                    <br>

                    {% if "19" in correct_answers %}
                        <a>Namespaces are one honking great idea -- let's do more of those!</a>
                    {% else %}
                        <a href="{% url 'ind_question' 19 %}">Namespaces are one honking great idea -- let's do more of those!</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>        
</div>

{% endblock content %}